html, body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 46em;
}

header {
  background-color: #555555;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header img {
  margin: 0 2px 0 10px;
  height: 25px;
}

main {
  margin: 0.5em;
}

main .note {
  margin-top: 1em;
  font-style: italic;
}

footer {
  margin: 2em 0.5em;
}

footer a {
  color: black;
}

footer a:hover {
  color: #555555;
}

.training ol {
  list-style-type: none;
  padding: 0;
}

.training ol li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5em;
}


.training ol li span:nth-child(1) {
  text-align: right;
  width: 4.5em;
}

.training ol li span:nth-child(2) {
  text-align: right;
  width: 6em;
}

.training ol li span:nth-child(3) {
  width: 12em;
}

.training ol li span:nth-child(4) {
  width: 20em;
}

.training h2 {
  color: #555555;
}