html, body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

header {
  background-color: #555555;
}

header div {
  margin: 0 auto;
  width: 656px;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header div img {
  margin: 4px 4px 0 12px;
  height: 28px;
}

main {
  margin: 0 auto;
  width: 656px;
}

footer {
  margin: 42px auto;
  width: 656px;
}

footer a {
  color: black;
}

footer a:hover {
  color: #555555;
}

.training ol {
  list-style-type: none;
  padding: 0;
}

.training ol li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}


.training ol li span:nth-child(1) {
  text-align: right;
  width: 72px;
}

.training ol li span:nth-child(2) {
  text-align: right;
  width: 96px;
}

.training ol li span:nth-child(3) {
  width: 174px;
}

.training ol li span:nth-child(4) {
  width: 43px;
  text-align: right;
}

.training ol li span:nth-child(5) {
  width: 238px;
  margin-right: 0;
}

.training h2 {
  color: #555555;
}