<!doctype html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=736, initial-scale=1, viewport-fit=cover"/>
  <title>Kaikki Suomen EasyFit-ryhmäliikuntatunnit</title>
  <link href="/client.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
</head>

<body>
  <header>
    <div>
      Kaikki <a href="https://www.easyfit.fi/fi"><img src="https://www.easyfit.fi/themes/easyfit2/logo.svg"></a> -ryhmäliikuntatunnit seuraavalle 7 päivälle
    </div>
  </header>

  <main id="schedule-app">
    {{ react-rendered }}
  </main>

  <footer>
    <p>
      Tämän palvelun on tehnyt vapaa-ajallaan <a href="https://twitter.com/p0ra">Heikki Pora</a>,
      joka halusi nähdä helposti missä on seuraava BODYPUMP-tunti.
      Huomaathan että lista ei sisällä virtuaalitunteja!
    </p>
    <p>
      Muista että <a href="https://www.sataako.fi/">Sataako.fi</a>-palvelusta näet kätevästi kastutko jo matkalla salille, vai vasta salilla.
    </p>
  </footer>
</body>
</html>
