<!doctype html>
<html lang="fi">
<head>
  <title>Kaikki Suomen EasyFit-ryhmäliikuntatunnit, helposti</title>
  <link href="/client.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=670, initial-scale=1, viewport-fit=cover"/>
  <meta name="google-site-verification" content="Rl8CGQHoniGCM1J7wi5nZ_5Nc6cV8c8CTVw8a2aEpKk"/>
  <meta name="rating" content="Safe For Kids"/>
  <meta name="author" content="Heikki Pora"/>
  <meta name="robots" content="index,follow"/>
  <meta name="robots" content="noodp"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta property="og:title" content="Kaikki Suomen EasyFit-ryhmäliikuntatunnit, helposti"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://easyfit-schedule.herokuapp.com"/>
  <meta property="og:image" content="https://easyfit-schedule.herokuapp.com/og-logo.png?v3"/>
  <meta property="og:site_name" content="Kaikki Suomen EasyFit-ryhmäliikuntatunnit, helposti"/>
  <meta property="og:description" content="Haluatko tietää missä ensi viikolla treenataan lempilajiasi? Katso täältä seuraavan seitsemän päivän ryhmäliikunta-aikataulut Suomen kaikissa EasyFit-liikuntakeskuksissa yhdellä vilkaisulla."/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <!-- The symbol used in og:image and favicons is by Font Awesome, license: https://fontawesome.com/license/free -->
</head>

<body>
  <header>
    <div>
      Kaikki <a href="https://www.easyfit.fi/fi"><img src="https://www.easyfit.fi/themes/easyfit2/logo.svg"></a> -ryhmäliikuntatunnit seuraavalle 7 päivälle
    </div>
  </header>

  <main id="schedule-app">
    {{ react-rendered }}
    <hr>
  </main>

  <footer>
    <p>
      Tämän palvelun on tehnyt vapaa-ajallaan <a href="https://twitter.com/p0ra">Heikki Pora</a>,
      joka halusi nähdä helposti missä on seuraava BODYPUMP-tunti.
    </p>
    <p>
      Muista että <a href="https://www.sataako.fi/">Sataako.fi</a>-palvelusta näet kätevästi kastutko jo matkalla salille, vai vasta salilla.
    </p>
    <p>
      Tämä palvelu ei ole EasyFit-ketjun tuottama mutta se hakee tietonsa automaattisesti EasyFit:in varausjärjestelmästä kerran tunnissa.
      Huomaathan että lista ei sisällä virtuaalitunteja!
    </p>
  </footer>
</body>
</html>
